{% extends 'base.html' %}

{% block body %}

<h1>Student Detail</h1>

<h3>{{ student.name }}</h3>
<h4>{{ student.age }}</h4>
<h5>{{ student.created_at }}</h5>
<h5>{{ student.updated_at }}</h5>

<a href="{% url 'students:index' %}">List</a>

<a href="{% url 'students:edit' student.pk %}">Edit</a>

<!-- a tag는 POST 요청을 보낼 수 없습니다. 그렇다면...? form tag! -->
<form action="{% url 'students:delete' student.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>

{% endblock %}