{% extends 'base.html' %}

{% block body %}

<h1>Edit Student</h1>

<!-- {# url 'students:update' student.pk #} -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Name: </label>
    <input type="text" name="name" value="{{ student.name }}">
    <label for="">Age: </label>
    <input type="number" name="age" value="{{ student.age }}">
    <label for="">Image: </label>
    <input type="file" name="image" accept="image/*">
    <input type="submit">
</form>

{% endblock %}