<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/catch/" method="GET">
        <label for="message">던질 내용: </label>
        <input id="message" type="text" name="message">
        <label for="m2">또 던질 내용: </label>
        <input id="m2" type="text" name="message2">
        <input type="submit">
    </form>
</body>
</html>