<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
        <span>{{ user.username }}</span>
        {% if user.is_authenticated %}
        <form action="{% url 'accounts:logout' %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="로그아웃!">
        </form>
        <a href="{% url 'accounts:edit' %}">회원 정보 수정</a>
        {% else %}
        <a href="{% url 'accounts:login' %}">로그인!</a>
        <a href="{% url 'accounts:signup' %}">회원가입!</a>
        {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>